@font-face {
  font-family: "IranSans";
  src: url(../fonts/IRANSans.ttf) format("truetype");
}

@font-face {
  font-family: "IranSans-Bold";
  src: url(../fonts/IRANSans_Bold.ttf) format("truetype");
}
@font-face {
  font-family: "IranSans-Black";
  src: url(../fonts/IRANSans_Black.ttf) format("truetype");
}
@font-face {
  font-family: "IranSans-Light";
  src: url(../fonts/IRANSans_Light.ttf) format("truetype");
}
@font-face {
  font-family: "IranSans-Medium";
  src: url(../fonts/IRANSans_Medium.ttf) format("truetype");
}
