@import "../../style/reset.css";
@import "../../style/grid.css";
@import "../../style/font.css";
@import "../../style/TopBar.css";
@import "../../style/Footer.css";

/* ------------------------------
===========   root   ==========
------------------------------ */

:root {
  --Platinum-color: #e5e5e5;
  --AmericanSilver-color: #cecdcf;
  --SasquatchSocks-color: #be2686;
  --AmericanViolet-color: #5b1587;
  --SmokyCharcoal-color: #3b3737;
}

/* ------------------------------
=======   Reset Style  =======
------------------------------ */

a {
  text-decoration: none;
  color: black;
}

/* ------------------------------
===========   Courses   ==========
------------------------------ */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "IranSans";
  font-size: 1.6rem;
  line-height: 1.6;
  direction: rtl;
  background-color: #60747b;
  color: var(--SmokyCharcoal-color);
}

/* --------------------------------
=======   Helper Class   ======
-------------------------------- */
.page-btn {
  color: var(--AmericanViolet-color);
  font-family: "IranSans";
  font-size: 1.8rem;
  border: 3px solid var(--SasquatchSocks-color);
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  text-align: center;
  transition: all 150ms ease-in;
}
.page-btn:hover {
  color: var(--Platinum-color);
  background-color: var(--SasquatchSocks-color);
}

/* -------------------------------
=======   TopBar Style   =======
------------------------------- */

